body {
  /* Box Model */
  margin: 0;
  padding: 0;
  height: 100vh;

  /* Layout e Posicionamento */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Fundo e Estética */
  background: url('https://cdn.pixabay.com/photo/2023/02/08/08/50/frequency-wave-7776034_1280.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

main {
  /* Reset e Box Model */
  width: 600px;
  height: 500px;
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto;
 

  /* Fundo */
  background: whitesmoke;
}
